$primaryColor: gray;

@function checkColor($color) {
    @if (lighten(color) > 40 ){
        @return #000;
    }
    @else {
        @return #fff;
    }
}

@mixin hoverTransition {
    transition: .7s;
    -webkit-transition: .7s;
}


